# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log

#Sqlite3 Db
db.sqlite3

#mac
.DS_Store

#env
env/
